.input-centralize {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 225px;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: solid 1px rgb(211, 211, 211);

  padding-left: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-label {
  font-size: 0.8rem;
  color: rgb(128, 128, 128);
  font-family: "Inter", sans-serif;
}

.input:focus {
  outline: none !important;
  border: 1px solid rgb(100, 149, 237);
}
